<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="athena" value="lightsword"/>
    <contextName>athena</contextName>
    <include resource="org/springframework/book/logging/logback/defaults.xml" />
    <include resource="org/springframework/book/logging/logback/console-appender.xml" />
    <include resource="org/springframework/book/logging/logback/file-appender.xml" />
    <jmxConfigurator />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="com.mezo.athena" level="TRACE" />
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${user.home}/workstation/logs/athena.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>athena.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <Pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>
    <root level="INFO">
<!--        <appender-ref ref="CONSOLE" />-->
        <appender-ref ref="dailyRollingFileAppender" />
    </root>
</configuration>